:root {
  --main: #49184a;
  --accent: lavender;
}
* {
  font-family: "Karla";
}
body {
  padding: 20px;
  background-color: #f0f0f0;
}
input[type="text"] {
  border-radius: 20px;
  font-size: 30px;
  border-color: transparent;
  border-bottom: var(--main);
  margin-left: 10px;
}
input[type="number"] {
  font-size: 30px;
  border-radius: 20px;
  border-color: transparent;
  border-bottom: var(--main);
  margin-left: 10px;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 10px;
}
ul {
  list-style-type: none;
  margin-left: 25%;
}
li {
  font-size: 26px;
  font-weight: bold;
}
select {
  background-color: var(--accent);
  color: var(--main);
  font-size: 20px;
  border-radius: 20px;
  border-color: transparent;
  padding: 5px;
  margin: 5px 0px 0px 10px;
}
option {
  border-radius: 20px;
  border-color: transparent;
  color: var(--main);
}

.submit {
  font-size: 26px;
  background-color: var(--main);
  border-radius: 50px;
  height: fit-content;
  padding: 10px;
  color: white;
}
.main {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width: 80%;
  height: fit-content;
  margin-left: 10%;
  display: flex;
}

.total {
  border-radius: 20px;
  background-color: var(--main);
  height: 25%;
  text-align: center;
  margin-right: 20px;
  max-width: 100%;
  padding: 5px;
}
.title {
  font-size: 36px;
  font-weight: bolder;
  color: var(--accent);
  margin: 10px;
}
.breakdown {
  align-items: center;
  align-content: center;
  padding: 40px;
}
.breakdown-contain {
  align-items: center;
  width: 100%;
  padding: 10px;
}

.breakdown-text1 {
  font-size: 26px;
  font-weight: bold;
  color: var(--main);
}
.breadown-text2 {
  font-size: 16px;
  color: var(--accent);
}
.breadown-price {
  text-align: right;
}
.edit {
  cursor: pointer;
  color: darkgreen;
  background-color: lightgreen;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}
.del {
  cursor: pointer;
  color: darkred;
  background-color: lightsalmon;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}
.label {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: lightslategray;
}
.chart-container {
  align-items: center;
  align-content: center;
  text-align: center;
}
.chart {
  background-color: white;
  border-radius: 40px;
  margin: 10px;
  width: 90%;
  height: fit-content;
}
.icon {
  background-color: var(--accent);
  color: var(--main);
  font-size: 26px;
  padding: 5px 10px 5px 15px;
  border-radius: 20px;
}
.icons {
  background-color: var(--accent);
  color: var(--main);
  font-size: 26px;
  padding: 10px 6px 6px 6px;
  margin-right: 20px;
  text-align: center;
  width: 35px;
  border-radius: 10px;
}
.info {
  width: 150%;
  max-width: 150%;
}
.inputs {
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f4f7;
  align-items: center;
  align-content: center;
}
.button {
  text-align: center;
}
.container {
  display: flex;
  text-align: center;
}
.child {
  flex: 1;
  padding: 10px;
}
.col {
  text-align: center;
  margin: 25px;
  width: max-content;
}
.col2 {
  text-align: center;
  margin: 15px;
  padding-left: 10px;
  width: max-content;
}
.flex-even {
  justify-content: space-evenly;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}

.hidden {
  display: none;
}
.popup {
  width: max-content;
  height: fit-content;
  margin-top: 10%;
  margin-left: 10%;
  background-color: lightgreen;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 8px 0;
}
.icon2 {
  color: darkgreen;
  font-size: 16px;
  border-radius: 20px;
}
.popup-intput {
  font-size: 16px;
  width: 200px;
  height: 20px;
  padding: 5px;
}
.popup-select {
  background-color: darkgreen;
  font-size: 16px;
  height: 20px;
}
.popup-button {
  background-color: darkgreen;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
  .main {
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    width: 80%;
    height: 150%;
    margin-left: 10%;
  }
  .chart-container {
    display: none;
  }
  .total {
    width: 85%;
    max-width: 85%;
  }
  .main-container {
    display: block;
  }
  .child {
    padding: 0px;
    text-align: left;
  }
  .breakdown-contain {
    width: 90%;
  }
  .breakdown-text1 {
    font-size: 16px;
  }
  .icons {
    width: max-content;
    font-size: 16px;
    padding: 8px 3px 3px 3px;
  }

  .inputs {
    width: 100%;
    padding: 0px;
  }
  .submit {
    font-size: 15px;
  }
  .icon {
    font-size: 20px;
  }
  .popup {
    margin-left: 0%;
  }
  .popup-button {
    font-size: 15px;
  }
  input[type="number"] {
    font-size: 10px;
    width: fit-content;
  }
  input[type="text"] {
    font-size: 10px;
    width: fit-content;
  }
  input[type="radio"] {
    font-size: 10px;
  }
  ul {
    margin-left: 0%;
  }
  ul li {
    font-size: 16px;
  }
}
