:root {
  --main: #49184a;
  --accent: #9a5b9a;
}
* {
  font-family: "Karla";
}
body {
  padding: 50px;
  background-color: #f0f0f0;
}
input[type="text"] {
  border-radius: 20px;
  font-size: 30px;
  border-color: transparent;
  border-bottom: var(--main);
  margin-left: 10px;
}
input[type="number"] {
  font-size: 30px;
  border-radius: 20px;
  border-color: transparent;
  border-bottom: var(--main);
  margin-left: 10px;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-right: 10px;
}
ul {
  list-style-type: none;
  margin-left: 25%;
}
li {
  font-size: 26px;
  font-weight: bold;
}
select {
  background-color: var(--accent);
  color: var(--main);
  font-size: 20px;
  border-radius: 20px;
  border-color: transparent;
  padding: 5px;
  margin: 5px 0px 0px 10px;
}
option {
  border-radius: 20px;
  border-color: transparent;
  color: var(--main);
}

.submit {
  font-size: 26px;
  background-color: var(--main);
  border-radius: 50px;
  height: fit-content;
  padding: 10px;
  color: white;
}
.main {
  background-color: white;
  border-radius: 40px;
  padding: 20px;
  width: 80%;
  height: 50%;
  margin-left: 10%;
}

.total {
  border-radius: 50px;
  background-color: var(--main);
  font-size: 50px;
  text-align: lefty;
  padding: 10% 0px 0px 15%;
  color: white;
  width: 200%;
  max-width: 200%;
  height: 25%;
}
.title {
  font-size: 25px;
  color: #8b608b;
}
.breakdown {
  align-items: center;
  align-content: center;
  padding: 10px;
}
.breakdown-contain {
  align-items: center;
  width: 200%;
  padding: 10px;
}

.breakdown-text1 {
  font-size: 26px;
  font-weight: bold;
  color: var(--main);
}
.breadown-text2 {
  font-size: 16px;
  color: var(--accent);
}
.breadown-price {
  text-align: right;
}
.edit {
  color: darkgreen;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  font-size: 30px;
  cursor: pointer;
}
.del {
  color: darkred;
  background-color: lightsalmon;
  border-radius: 10px;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
}
.label {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: lightslategray;
}
.chart-container {
  align-items: center;
  align-content: center;
  text-align: center;
}
.chart {
  background-color: white;
  border-radius: 40px;
  margin: 10px;
  width: 90%;
  height: fit-content;
}
.icon {
  background-color: var(--accent);
  color: var(--main);
  font-size: 26px;
  padding: 5px 10px 5px 15px;
  border-radius: 20px;
}
.icons {
  background-color: var(--accent);
  color: var(--main);
  font-size: 26px;
  padding: 10px 6px 6px 6px;
  margin-right: 20px;
  text-align: center;
  width: 35px;
  border-radius: 10px;
}
.inputs {
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f4f7;
  align-items: center;
  align-content: center;
}
.button {
  text-align: center;
}

.container {
  display: flex;
}
.child {
  flex: 1;
  padding: 10px;
}
.col {
  text-align: center;
  margin: 25px;
  width: max-content;
}
.col2 {
  text-align: center;
  margin: 15px;
  padding-left: 10px;
  width: max-content;
}
.flex-even {
  justify-content: space-evenly;
}
.flex-around {
  justify-content: space-around;
}
.flex-between {
  justify-content: space-between;
}
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.hidden {
  display: none;
}
.popup {
  width: max-content;
  background-color: lightgreen;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  left: 30.3%;
  top: 42%;
  padding: 8px 0;
  position: fixed;
}
.icon2 {
  color: darkgreen;
  font-size: 16px;
  border-radius: 20px;
}
.popup-intput {
  font-size: 16px;
  width: 200px;
  height: 20px;
  padding: 5px;
}
.popup-select {
  background-color: darkgreen;
  font-size: 16px;
  height: 20px;
}
.popup-button {
  background-color: darkgreen;
  border-color: transparent;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}
